* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0b0b0b;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}